body{
    background-color: black;
    margin: 0;
}
.boxes{
    margin: 48px auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4,100px);
    gap: 20px;
    box-sizing: border-box;
}
.box{
    height: 100px;
    background-color: #636361;
    border: 3px solid aliceblue;
    cursor: pointer;
}